<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="delete_customer_without_order_form" class="CustomerTools\Form\DeleteCustomerWithoutOrderForm" />
    </forms>

    <hooks>
        <hook id="robot.configuration.hook" class="CustomerTools\Hook\ConfigurationHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>
    </hooks>

    <services>
        <service id="action.customer.tool.service" class="CustomerTools\Service\CustomerToolsService">
            <argument type="service" id="event_dispatcher"/>
        </service>
    </services>
</config>
